@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --primary: 242 87% 59%;
  --secondary: 240 4.8% 95.9%;
  --muted: 240 4.8% 95.9%;
  --border: 240 5.9% 90%;
  --card: 0 0% 100%;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --primary: 244 75% 64%;
  --secondary: 240 3.7% 15.9%;
  --muted: 240 3.7% 15.9%;
  --border: 240 3.7% 15.9%;
  --card: 240 10% 3.9%;
}

body {
  @apply bg-background text-foreground antialiased;
}
